In [1]:
import pandas as pd
import os 
import sqlite3

In [3]:
oscars_df = pd.read_csv("the_oscar_award.csv")
oscars_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [4]:
columns = oscars_df.columns
columns

Index(['year_film', 'year_ceremony', 'ceremony', 'category', 'name', 'film',
       'winner'],
      dtype='object')

In [5]:
oscars_df.dtypes

year_film         int64
year_ceremony     int64
ceremony          int64
category         object
name             object
film             object
winner           object
dtype: object

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Kuch2447@localhost:5434/movieProject_db')
oscars_df.to_sql('oscars', engine)